In [2]:
import pandas as pd

In [238]:
df = pd.read_csv('data/grad_school_data_0_1.csv', index_col=0)
df_schema = pd.read_csv('data/grad_school_data_schema.csv', index_col='column_name')

In [239]:
pd.set_option('display.max_row', 100)

In [240]:
df.head()

,schl,dept,ddln,app_fee,n_app_f19,n_adm_f19,n_enr_f19,acc_per,min_gpa,gen_gre_req,...,cosm_fac,he_fac,nts,app_nts,phys_gre_req_nts,ta_stip_nts,ra_stip_nts,astn_fac_nts,astp_fac_nts,cosm_fac_nts
0,Auburn,Physics,March 15th,60,30.0,12.0,12.0,0.400,3.0,True,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,University of Alabama,Physics and Astronomy,January 15th,65,88.0,9.0,6.0,0.102,3.0,True,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,University of Alabama Birmingham,Physics,July 1st,50,50.0,24.0,5.0,0.480,NaN,True,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Northern Arizona University,Astronomy and Planetary Science,January 1st,65,70.0,8.0,7.0,0.114,3.0,True,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,University of Arizona,Physics,January 1st,85,179.0,40.0,15.0,0.223,3.0,True,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN