In [3]:
import pandas as pd

In [4]:
people = {
    'first':['corey', 'josh', 'mike'],
    'last':['schafer', 'breckenridge', 'clark'],
    'email':['cshafer@gmail.com', 'jbreck@gmail.com','mclark@gmail.com']
}

In [5]:
df = pd.DataFrame(people)

In [8]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
df.columns = ['first_name', 'last_name', 'email']

In [10]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [11]:
df.columns = [c.upper() for c in df.columns]

In [13]:
df.columns

Index(['FIRST_NAME', 'LAST_NAME', 'EMAIL'], dtype='object')

In [16]:
df.columns = [c.lower() for c in df.columns]

In [17]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [18]:
df.rename(columns={'first_name':'first', 'last_name':'last'}, inplace=True)

In [19]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [20]:
df

   first          last              email
0  corey       schafer  cshafer@gmail.com
1   josh  breckenridge   jbreck@gmail.com
2   mike         clark   mclark@gmail.com

In [21]:
df.loc[2]

first                mike
last                clark
email    mclark@gmail.com
Name: 2, dtype: object

In [26]:
df.loc[0, 'last'] = 'schafer'

In [30]:
df['first'] = df['first'].str.lower()

In [31]:
df

   first          last              email
0  corey       schafer  cshafer@gmail.com
1   josh  breckenridge   jbreck@gmail.com
2   mike         clark   mclark@gmail.com

In [33]:
df['first'].apply(len)

0    5
1    4
2    4
Name: first, dtype: int64

In [34]:
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [36]:
df.applymap(len)

   first  last  email
0      5     7     17
1      4    12     16
2      4     5     16