In [7]:
import pandas as pd

In [8]:
people = {
    'first':['corey', 'josh', 'mike'],
    'last':['schafer', 'breckenridge', 'clark'],
    'email':['cshafer@gmail.com', 'jbreck@gmail.com','mclark@gmail.com']
}

In [10]:
df = pd.DataFrame(people)

In [34]:
df

               email  first          last
0  cshafer@gmail.com  corey       schafer
1   jbreck@gmail.com   josh  breckenridge
2   mclark@gmail.com   mike         clark

In [35]:
df['email'] == 'clark'

0    False
1    False
2    False
Name: email, dtype: bool

In [67]:
filt = (df['last'] == 'clark') | (df['last'] == 'schafer')

In [68]:
filt

0     True
1    False
2     True
Name: last, dtype: bool

In [69]:
df.loc[~filt, 'email']

1    jbreck@gmail.com
Name: email, dtype: object

In [60]:
df

               email  first          last
0  cshafer@gmail.com  corey       schafer
1   jbreck@gmail.com   josh  breckenridge
2   mclark@gmail.com   mike         clark