In [7]:
import pandas as pd

In [8]:
people = {
    'first':['corey', 'josh', 'mike'],
    'last':['schafer', 'breckenridge', 'clark'],
    'email':['cshafer@gmail.com', 'jbreck@gmail.com','mclark@gmail.com']
}

In [10]:
df = pd.DataFrame(people)

In [11]:
df

   first          last              email
0  corey       schafer  cshafer@gmail.com
1   josh  breckenridge   jbreck@gmail.com
2   mike         clark   mclark@gmail.com

In [17]:
df['email']

0    cshafer@gmail.com
1     jbreck@gmail.com
2     mclark@gmail.com
Name: email, dtype: object

In [20]:
df.set_index('email', inplace=True)

In [21]:
df

                   first          last
email
cshafer@gmail.com  corey       schafer
jbreck@gmail.com    josh  breckenridge
mclark@gmail.com    mike         clark

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, cshafer@gmail.com to mclark@gmail.com
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   first   3 non-null      object
 1   last    3 non-null      object
dtypes: object(2)
memory usage: 72.0+ bytes

In [24]:
df.index

Index(['cshafer@gmail.com', 'jbreck@gmail.com', 'mclark@gmail.com'], dtype='object', name='email')

In [26]:
df.loc['cshafer@gmail.com', 'first']

'corey'

In [30]:
df.columns

Index(['first', 'last'], dtype='object')

In [32]:
df.reset_index(inplace=True)

In [33]:
df

               email  first          last
0  cshafer@gmail.com  corey       schafer
1   jbreck@gmail.com   josh  breckenridge
2   mclark@gmail.com   mike         clark